@import "~leaflet/dist/leaflet.css";

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
        @for $j from $from through $stroke {
            $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
        }
    }
    @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    background: #000000;
}

/* CONTROLS */

.leaflet-right {
    height: 100%;
}

.zd-control {
    background-color: rgba(0,0,0,.4);
    color: white;
    font-size: 1.5em;
    height: 100%;
    overflow: auto;
}

.zd-legend {
    display: none;
}

.leaflet-right .zd-legend {
    margin-right: 0;
}

.leaflet-top .zd-legend {
    margin-top: 0;
}

@media screen and (orientation:landscape) and (min-width:768px) {
    .zd-legend {
        display: flex;
    }
}

.zd-legend__categories {
    list-style: none;
    margin: auto;
    padding: 5px;
}

.zd-legend__category {
    margin: -10px 0;
    padding: 5px 0;
    padding-left: 50px;
    height: 30px;
}

/* LOCATION TEXT LABELS */

.leaflet-tooltip-pane {
    z-index: 550; /* put location text labels underneath markers */
}

.leaflet-tooltip.zd-location-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-size: 24px;
    color: #f8efae;
    @include stroke(2, #977f41);
}